.app_wriper {
    margin: 0 auto;
    width: 1200px;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: "h h" "n c";

    /* grid-gap: 10px;*/
}


.app_wriper_content {
    grid-area: c;
    background-color: yellow;
    text-indent: 13px;
}